<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1000002"
    android:versionName="1.0"
    android:hardwareAccelerated="true"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    package="id.justapp.android610385df65df3"
    platformBuildVersionCode="29"
    platformBuildVersionName="10">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="com.android.vending.BILLING" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission
        android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />

    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="com.sec.android.provider.badge.permission.READ" />

    <uses-permission
        android:name="com.sec.android.provider.badge.permission.WRITE" />

    <uses-permission
        android:name="com.htc.launcher.permission.READ_SETTINGS" />

    <uses-permission
        android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <uses-permission
        android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />

    <uses-permission
        android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />

    <uses-permission
        android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />

    <uses-permission
        android:name="com.majeur.launcher.permission.UPDATE_BADGE" />

    <uses-permission
        android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <uses-permission
        android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />

    <uses-permission
        android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <uses-permission
        android:name="android.permission.READ_APP_BADGE" />

    <uses-permission
        android:name="com.oppo.launcher.permission.READ_SETTINGS" />

    <uses-permission
        android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />

    <uses-permission
        android:name="me.everything.badger.permission.BADGE_COUNT_READ" />

    <uses-permission
        android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />

    <queries>

        <intent>

            <action
                android:name="android.intent.action.VIEW" />

            <category
                android:name="android.intent.category.BROWSABLE" />

            <data
                android:scheme="https" />
        </intent>

        <intent>

            <action
                android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:label="@ref/0x7f0d0001"
        android:icon="@ref/0x7f0b0000"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">

        <activity
            android:theme="@ref/0x01030129"
            android:label="@ref/0x7f0d0000"
            android:name="id.justapp.android610385df65df3.MainActivity"
            android:launchMode="1"
            android:screenOrientation="10"
            android:configChanges="0xfb4"
            android:windowSoftInputMode="0x10">

            <intent-filter
                android:label="@ref/0x7f0d0042">

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:label="@ref/0x7f0d0001"
            android:name="com.cowbell.cordova.geofence.ReceiveTransitionsIntentService"
            android:exported="false" />

        <receiver
            android:name="com.cowbell.cordova.geofence.BootReceiver">

            <intent-filter>

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.cowbell.cordova.geofence.TransitionReceiver">

            <intent-filter>

                <action
                    android:name="com.cowbell.cordova.geofence.TRANSITION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.sunmi.trans.PrinterStatusReceiver"
            android:enabled="true">

            <intent-filter
                android:priority="1000">

                <action
                    android:name="woyou.aidlservice.jiuv5.OUT_OF_PAPER_ACTION" />

                <action
                    android:name="woyou.aidlservice.jiuv5.ERROR_ACTION" />

                <action
                    android:name="woyou.aidlservice.jiuv5.NORMAL_ACTION" />

                <action
                    android:name="woyou.aidlservice.jiuv5.COVER_OPEN_ACTION" />

                <action
                    android:name="woyou.aidlservice.jiuv5.COVER_ERROR_ACTION" />

                <action
                    android:name="woyou.aidlservice.jiuv5.KNIFE_ERROR_ACTION_1" />

                <action
                    android:name="woyou.aidlservice.jiuv5.KNIFE_ERROR_ACTION_2" />

                <action
                    android:name="woyou.aidlservice.jiuv5.OVER_HEATING_ACITON" />

                <action
                    android:name="woyou.aidlservice.jiuv5.FIRMWARE_UPDATING_ACITON" />
            </intent-filter>
        </receiver>

        <service
            android:name="woyou.aidlservice.jiuiv5.IWoyouService">

            <intent-filter>

                <action
                    android:name="woyou.aidlservice.jiuiv5.IWoyouService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.adobe.phonegap.push.PushHandlerActivity"
            android:permission="compsi_11346.permission.PushHandlerActivity"
            android:exported="true" />

        <activity
            android:name="com.adobe.phonegap.push.BackgroundHandlerActivity"
            android:permission="compsi_11346.permission.BackgroundHandlerActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="com.adobe.phonegap.push.background.MESSAGING_EVENT" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.adobe.phonegap.push.BackgroundActionButtonHandler" />

        <receiver
            android:name="com.adobe.phonegap.push.PushDismissedHandler" />

        <service
            android:name="com.adobe.phonegap.push.FCMService">

            <intent-filter>

                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.adobe.phonegap.push.PushInstanceIDListenerService">

            <intent-filter>

                <action
                    android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:theme="@ref/0x01030129"
            android:label="@ref/0x7f0d0000"
            android:name="com.webview.WebViewActivity"
            android:exported="true"
            android:launchMode="0"
            android:configChanges="0x4b4"
            android:windowSoftInputMode="0x10" />

        <activity
            android:theme="@ref/0x0103000f"
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="0xfb0"
            android:noHistory="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-0000000000000000~0000000000" />

        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true" />

        <activity
            android:theme="@ref/0x01030007"
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:exported="false"
            android:clearTaskOnLaunch="true"
            android:configChanges="0x4a0"
            android:windowSoftInputMode="0x3" />

        <activity
            android:label="Share"
            android:name="com.google.zxing.client.android.encode.EncodeActivity" />

        <provider
            android:name="org.apache.cordova.camera.FileProvider"
            android:exported="false"
            android:authorities="compsi_11346.provider"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@ref/0x7f100000" />
        </provider>

        <receiver
            android:name="nl.xservices.plugins.ShareChooserPendingIntent"
            android:enabled="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.SEND" />
            </intent-filter>
        </receiver>

        <provider
            android:name="nl.xservices.plugins.FileProvider"
            android:exported="false"
            android:authorities="compsi_11346.sharing.provider"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@ref/0x7f100004" />
        </provider>

        <provider
            android:name="de.appplant.cordova.plugin.notification.util.AssetProvider"
            android:exported="false"
            android:authorities="compsi_11346.localnotifications.provider"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@ref/0x7f100002" />
        </provider>

        <receiver
            android:name="de.appplant.cordova.plugin.localnotification.TriggerReceiver"
            android:exported="false" />

        <receiver
            android:name="de.appplant.cordova.plugin.localnotification.ClearReceiver"
            android:exported="false" />

        <service
            android:name="de.appplant.cordova.plugin.localnotification.ClickReceiver"
            android:exported="false" />

        <receiver
            android:name="de.appplant.cordova.plugin.localnotification.RestoreReceiver"
            android:exported="false"
            android:directBootAware="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xtraball.musiccontrols.MusicControlsNotificationKiller" />

        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="3.0.2" />

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="0x5b0" />

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">

            <intent-filter
                android:priority="-500">

                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="id.justapp.android610385df65df3.firebaseinitprovider"
            android:initOrder="100" />

        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:exported="false"
            android:authorities="id.justapp.android610385df65df3.mobileadsinitprovider"
            android:initOrder="100" />

        <service
            android:name="com.google.android.gms.ads.AdService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@ref/0x7f080001" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="id.justapp.android610385df65df3.workmanager-init"
            android:directBootAware="false" />

        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@ref/0x7f030000"
            android:exported="false"
            android:directBootAware="false" />

        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@ref/0x7f030001"
            android:exported="true"
            android:directBootAware="false" />

        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false" />

        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">

            <intent-filter>

                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED" />

                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">

            <intent-filter>

                <action
                    android:name="android.intent.action.BATTERY_OKAY" />

                <action
                    android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">

            <intent-filter>

                <action
                    android:name="android.intent.action.DEVICE_STORAGE_LOW" />

                <action
                    android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">

            <intent-filter>

                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">

            <intent-filter>

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />

                <action
                    android:name="android.intent.action.TIME_SET" />

                <action
                    android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@ref/0x7f030000"
            android:exported="false"
            android:directBootAware="false">

            <intent-filter>

                <action
                    android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
            </intent-filter>
        </receiver>

        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false" />

        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">

            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>

        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false" />
    </application>
</manifest>
